In [1]:
import pandas as pd
import numpy as np
import csv
import os
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [25]:
movie_file = "movie_data.csv"
movie_df = pd.read_csv(movie_file)
movie_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,Latitude,Longitude
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,34.052235,-118.243683
1,Color,Graham Annable,219.0,96.0,7.0,642.0,Dee Bradley Baker,874.0,50807639.0,Adventure|Animation|Comedy|Family|Fantasy,...,USA,PG,60000000.0,2014.0,668.0,6.8,1.85,11000,34.052235,-118.243683
2,Color,Andrés Couturier,3.0,89.0,0.0,20.0,David Hoffman,163.0,NaN,Animation|Family,...,Mexico,PG,8000000.0,2015.0,94.0,4.4,NaN,138,19.433333,-99.133333
3,Color,Alejandro G. Iñárritu,288.0,148.0,0.0,7.0,Hanaa Bouchaib,30.0,5100937.0,Drama,...,Mexico,R,NaN,2010.0,9.0,7.5,2.35,29000,19.433333,-99.133333
4,Color,Alejandro Monteverde,45.0,106.0,38.0,975.0,Cary-Hiroyuki Tagawa,1000.0,6420319.0,Drama|War,...,Mexico,PG-13,20000000.0,2015.0,1000.0,7.4,2.35,15000,19.433333,-99.133333

In [26]:
df = movie_df[["movie_title","director_name", "gross", "genres", "country", "content_rating", "budget", "title_year", "Latitude", "Longitude"]]

In [27]:
df.head()

,movie_title,director_name,gross,genres,country,content_rating,budget,title_year,Latitude,Longitude
0,Avatar,James Cameron,760505847.0,Action|Adventure|Fantasy|Sci-Fi,USA,PG-13,237000000.0,2009.0,34.052235,-118.243683
1,The Boxtrolls,Graham Annable,50807639.0,Adventure|Animation|Comedy|Family|Fantasy,USA,PG,60000000.0,2014.0,34.052235,-118.243683
2,Top Cat Begins,Andrés Couturier,NaN,Animation|Family,Mexico,PG,8000000.0,2015.0,19.433333,-99.133333
3,Biutiful,Alejandro G. Iñárritu,5100937.0,Drama,Mexico,R,NaN,2010.0,19.433333,-99.133333
4,Little Boy,Alejandro Monteverde,6420319.0,Drama|War,Mexico,PG-13,20000000.0,2015.0,19.433333,-99.133333

In [28]:
df.count()

movie_title       5043
director_name     4939
gross             4159
genres            5043
country           5038
content_rating    4740
budget            4551
title_year        4935
Latitude          5036
Longitude         5036
dtype: int64

In [29]:
clean_df = df.dropna()
clean_df.count()

movie_title       3838
director_name     3838
gross             3838
genres            3838
country           3838
content_rating    3838
budget            3838
title_year        3838
Latitude          3838
Longitude         3838
dtype: int64

In [30]:
engine = create_engine("sqlite:///movie_data.sqlite")
clean_df.to_sql("movies", engine, chunksize=50)

In [31]:
data = engine.execute("SELECT * FROM movies Limit 10")

for record in data:
    print(record)

(0, 'Avatar\xa0', 'James Cameron', 760505847.0, 'Action|Adventure|Fantasy|Sci-Fi', 'USA', 'PG-13', 237000000.0, 2009.0, 34.052234999999996, -118.243683)
(1, 'The Boxtrolls\xa0', 'Graham Annable', 50807639.0, 'Adventure|Animation|Comedy|Family|Fantasy', 'USA', 'PG', 60000000.0, 2014.0, 34.052234999999996, -118.243683)
(4, 'Little Boy\xa0', 'Alejandro Monteverde', 6420319.0, 'Drama|War', 'Mexico', 'PG-13', 20000000.0, 2015.0, 19.43333333, -99.133333)
(5, 'For Greater Glory: The True Story of Cristiada\xa0', 'Dean Wright', 5669081.0, 'Drama|History|War', 'Mexico', 'R', 10818775.0, 2012.0, 19.43333333, -99.133333)
(6, 'Cinco de Mayo, La Batalla\xa0', 'Rafa Lara', 169379.0, 'Drama|History|War', 'Mexico', 'R', 10000000.0, 2013.0, 19.43333333, -99.133333)
(7, 'Instructions Not Included\xa0', 'Eugenio Derbez', 44456509.0, 'Comedy|Drama', 'Mexico', 'PG-13', 5000000.0, 2013.0, 19.43333333, -99.133333)
(8, 'Y Tu Mamá También\xa0', 'Alfonso Cuarón', 13622333.0, 'Adventure|Comedy|Drama|Romance', 'Mexico', 'R', 2000000.0, 2001.0, 19.43333333, -99.133333)
(11, 'Buen Día, Ramón\xa0', 'Jorge Ramírez Suárez', 100412.0, 'Drama', 'Mexico', 'PG-13', 4000000.0, 2013.0, 19.43333333, -99.133333)
(12, 'La otra conquista\xa0', 'Salvador Carrasco', 886410.0, 'Drama|History', 'Mexico', 'R', 3500000.0, 1998.0, 19.43333333, -99.133333)
(13, 'Compadres\xa0', 'Enrique Begne', 3105269.0, 'Action|Comedy', 'Mexico', 'R', 3000000.0, 2016.0, 19.43333333, -99.133333)