In [1]:
import pandas as pd
import numpy as np
import csv
import os
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
movie_file = "movie_data.csv"
movie_df = pd.read_csv(movie_file)
movie_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [7]:
df = movie_df[["movie_title","director_name", "gross", "genres", "country", "content_rating", "budget", "title_year"]]

In [8]:
df.head()

,movie_title,director_name,gross,genres,country,content_rating,budget,title_year
0,Avatar,James Cameron,760505847.0,Action|Adventure|Fantasy|Sci-Fi,USA,PG-13,237000000.0,2009.0
1,Pirates of the Caribbean: At World's End,Gore Verbinski,309404152.0,Action|Adventure|Fantasy,USA,PG-13,300000000.0,2007.0
2,Spectre,Sam Mendes,200074175.0,Action|Adventure|Thriller,UK,PG-13,245000000.0,2015.0
3,The Dark Knight Rises,Christopher Nolan,448130642.0,Action|Thriller,USA,PG-13,250000000.0,2012.0
4,Star Wars: Episode VII - The Force AwakensÂ ...,Doug Walker,NaN,Documentary,NaN,NaN,NaN,NaN

In [9]:
df.count()

movie_title       5043
director_name     4939
gross             4159
genres            5043
country           5038
content_rating    4740
budget            4551
title_year        4935
dtype: int64

In [10]:
clean_df = df.dropna()
clean_df.count()

movie_title       3840
director_name     3840
gross             3840
genres            3840
country           3840
content_rating    3840
budget            3840
title_year        3840
dtype: int64

In [14]:
engine = create_engine("sqlite:///movie_data.sqlite")
clean_df.to_sql("movies", engine, chunksize=100)

In [15]:
data = engine.execute("SELECT * FROM movies Limit 10")

for record in data:
    print(record)

(0, 'Avatar\xa0', 'James Cameron', 760505847.0, 'Action|Adventure|Fantasy|Sci-Fi', 'USA', 'PG-13', 237000000.0, 2009.0)
(1, "Pirates of the Caribbean: At World's End\xa0", 'Gore Verbinski', 309404152.0, 'Action|Adventure|Fantasy', 'USA', 'PG-13', 300000000.0, 2007.0)
(2, 'Spectre\xa0', 'Sam Mendes', 200074175.0, 'Action|Adventure|Thriller', 'UK', 'PG-13', 245000000.0, 2015.0)
(3, 'The Dark Knight Rises\xa0', 'Christopher Nolan', 448130642.0, 'Action|Thriller', 'USA', 'PG-13', 250000000.0, 2012.0)
(5, 'John Carter\xa0', 'Andrew Stanton', 73058679.0, 'Action|Adventure|Sci-Fi', 'USA', 'PG-13', 263700000.0, 2012.0)
(6, 'Spider-Man 3\xa0', 'Sam Raimi', 336530303.0, 'Action|Adventure|Romance', 'USA', 'PG-13', 258000000.0, 2007.0)
(7, 'Tangled\xa0', 'Nathan Greno', 200807262.0, 'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance', 'USA', 'PG', 260000000.0, 2010.0)
(8, 'Avengers: Age of Ultron\xa0', 'Joss Whedon', 458991599.0, 'Action|Adventure|Sci-Fi', 'USA', 'PG-13', 250000000.0, 2015.0)
(9, 'Harry Potter and the Half-Blood Prince\xa0', 'David Yates', 301956980.0, 'Adventure|Family|Fantasy|Mystery', 'UK', 'PG', 250000000.0, 2009.0)
(10, 'Batman v Superman: Dawn of Justice\xa0', 'Zack Snyder', 330249062.0, 'Action|Adventure|Sci-Fi', 'USA', 'PG-13', 250000000.0, 2016.0)